doctype html
html(lang="en")
    head
        include parciales/header
    body.login
        .contenedor-formulario
            h1 Iniciar Sesion en UpTask 

            form#formulario.caja.caja-login(method="POST" action="/iniciar-sesion")
                .campo
                    label(for="email") Email:
                    input(type="text" name="email" placeholder="Tu email" value= email) 
                .campo
                    label(for="password") Password:
                    input(type="password" name="password" placeholder="Tu Password" value= password)
                .campo.enviar 
                    input.boton(type="submit" value="Iniciar Sesion")
                .campo 
                    a(href="/crear-cuenta") No tienes cuenta? puedes Crear una desde aqui
        script(src="dist/bundle.js")